
@{
    ViewBag.Title = "Manage";
}

<h2>Management</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <a href="PurgeOldUsers" class="btn btn-danger btn-lg pull-left" role="button"><span class="glyphicon glyphicon-user"></span> <br />Purge Old <br />Users</a>
                            <a href="Statistics" class="btn btn-primary btn-lg pull-right" role="button"><span class="glyphicon glyphicon-signal"></span> <br />View <br />Statistics</a>
                        </div>
                    </div>
                    <a href="/Home/Index" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> Website</a>
                </div>
            </div>
        </div>
    </div>
</div>
