@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to the Aviation Portal!
            </h1>
        </div>
    </div>

    <div class="col-md-6">
        <div id="lp-civil" class="lp-square"></div>
        <div class="lp-title">Civil Aviation</div>
        <div class="lp-content">
            <p>Civil aviation is one of two major categories of flying, representing all non-military aviation, both private and commercial. Most of the countries in the world are members of the International Civil Aviation Organization (ICAO) and work together to establish common standards and recommended practices for civil aviation through that agency.</p>
            <p>All scheduled air transport is commercial, but general aviation can be either commercial or private.</p>
            <br />
            <a href="/Area/Index?AreaId=0" class="btn btn-info btn-block" role="button">Take me to this area!</a>
        </div>
    </div>

    <div class="col-md-6">
        <div id="lp-cargo" class="lp-square"></div>
        <div class="lp-title">Cargo and transport</div>
        <div class="lp-content">
        <p>Air cargo is any property carried or to be carried in an aircraft. Air cargo comprises air freight, air express and airmail.</p>
        <p>Despite widespread hopes for a vibrant industry, for decades the air freight did not grow as expected and remained a very small part of total air traffic. For much of the first five post-war decades most carriers saw it as a secondary activity, although there had always been specialized cargo airlines.</p>
        <br />
        <a href="/Area/Index?AreaId=1" class="btn btn-info btn-block" role="button">Take me to this area!</a>
        </div>
    </div>

    <div class="col-md-6">
        <div id="lp-military" class="lp-square"></div>
        <div class="lp-title">Military</div>
        <div class="lp-content">
        <p>Military aviation is the use of military aircraft and other flying machines for the purposes of conducting or enabling aerial warfare, including national airlift (air cargo) capacity to provide logistical supply to forces stationed in a theater or along a front.</p>
        <p>Airpower includes the national means of conducting such warfare, including the intersection of transport and war craft. Military aircraft include bombers, fighters, transports, trainer aircraft, and reconnaissance aircraft.</p>
        <br />
        <a href="/Area/Index?AreaId=2" class="btn btn-info btn-block" role="button">Take me to this area!</a>
        </div>
    </div>

    <div class="col-md-6">
        <div id="lp-airshow" class="lp-square"></div>
        <div class="lp-title">Airshows</div>
        <div class="lp-content">
            <p>Air shows (also airshow, Air Fair, or Air Tattoo) are public events at which aviators display their flying skills and the capabilities of their aircraft to spectators, usually by means of aerobatics. Air shows without aerobatic displays, having only aircraft displayed parked on the ground, are called "static air shows".</p>
            <a href="/Area/Index?AreaId=3" class="btn btn-info btn-block" role="button">Take me to this area!</a>
        </div>
    </div>
</div>

<hr>

<!-- Call to Action Section -->
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>You need to authenticate before you can access the areas above. Registration will grant you access to a maximum of 2 areas simultaneously. You can always change this.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="/Account/Login">Proceed to login</a>
        </div>
    </div>
</div>
