@{
    ViewBag.Title = "Home Page";
}

@*<!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>*@

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome to the Aviation Portal!
            </h1>
        </div>
    </div>

    <div class="col-md-6">
        <div id="lp-civil" class="lp-square"></div>
        <div class="lp-title">Civil Aviation</div>
        <div class="lp-content">
            <p><a hef="https://en.wikipedia.org/wiki/Civil_aviation">Civil aviation</a> is one of two major categories of flying, representing all non-military aviation, both private and commercial.</p>
            <a href="/Area/Index?AreaId=0" class="btn btn-info btn-block" role="button">Take me to this area!</a>
        </div>
    </div>

    <div class="col-md-6">
        <div id="lp-cargo" class="lp-square"></div>
        <div class="lp-title">Cargo and transport</div>
        <div class="lp-content">
        <p><a href="https://en.wikipedia.org/wiki/Air_cargo">Air cargo</a>: air freight, air express and airmail.</p>
        <a href="/Area/Index?AreaId=1" class="btn btn-info btn-block" role="button">Take me to this area!</a>
        </div>
    </div>

    <div class="col-md-6">
        <div id="lp-military" class="lp-square"></div>
        <div class="lp-title">Military</div>
        <div class="lp-content">
        <p><a href="https://en.wikipedia.org/wiki/Military_aviation">Military aviation</a> is the use of military aircraft and other flying machines for the purposes of conducting or enabling aerial warfare, including national airlift (air cargo) capacity to provide logistical supply to forces stationed in a theater or along a front.</p>
        <a href="/Area/Index?AreaId=2" class="btn btn-info btn-block" role="button">Take me to this area!</a>
        </div>
    </div>

    <div class="col-md-6">
        <div id="lp-airshow" class="lp-square"></div>
        <div class="lp-title">Airshows</div>
        <div class="lp-content">
            <p>An <a href="https://en.wikipedia.org/wiki/Air_show">air show</a>, (also airshow, Air Fair, or Air Tattoo) are public events at which aviators display their flying skills and the capabilities of their aircraft to spectators, usually by means of aerobatics. Air shows without aerobatic displays, having only aircraft displayed parked on the ground, are called "static air shows".</p>
            <a href="/Area/Index?AreaId=3" class="btn btn-info btn-block" role="button">Take me to this area!</a>
        </div>
    </div>
</div>

<hr>

<!-- Call to Action Section -->
<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>You need to register before you can access the areas above. Registration will grant you access to a maximum of 2 areas simultaneously. You can always change this.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="#">Register now!</a>
        </div>
    </div>
</div>

<!-- Script to Activate the Carousel -->
<!--
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
-->
