@model Presentation.Models.Message

@{
    ViewBag.Title = Model.Title;
}

<div class="container">
  <h2 class="page-header"><i class="fa fa-pencil"></i><a href="Index?AreaId=@Model.AreaId">Forum > </a> @Model.Title</h2>
  <ul class="media-list forum">
    <!-- Forum Post -->
    <li class="media well">
      <div class="pull-left user-info" href="#">
        <img class="avatar img-circle img-thumbnail" src="http://snipplicious.com/images/guest.png"
          width="64" alt="Generic placeholder image">
        <strong><a href="user.html">John Doe</a></strong>
        <small>Member</small>
      </div>
      <div class="media-body">
        <div class="forum-post-panel btn-group btn-group-xs">
          <a href="#" class="btn btn-default"><i class="fa fa-clock-o"></i>@Model.TimePosted.ToString("f")</a>
        </div>
        <p>@Model.Body</p>
        </div>
        </li>
    </ul>
</div>