@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error: Action Forbidden";
}

<h1 class="text-danger">Error: Action Forbidden</h1>
<h2 class="text-danger">This area is inaccessible from your point of origin. Please return.</h2>


