@using Presentation.Models
@model Area
@Html.AntiForgeryToken();

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@Model.Description
<a href="/Forum/Index?AreaId=@Model.Id" class="btn btn-info btn-block" role="button">Take me to this awesome forum!</a>