@using Presentation.Models
@model Area
@Html.AntiForgeryToken()

@{
    string[] Photographs = new string[8];
}

<h2>@Model.Title</h2>
<p>More content, including news, events and interviews, coming over the next few weeks!</p>

@switch (Model.Id)
{
    case 0:
        for (int i = 0; i < 8; i++)
        {
            Photographs[i] = "../Content/Images/Areas/Civil/" + i + ".jpg";
        }
        break;
    case 1:
        for (int i = 0; i < 8; i++)
        {
            Photographs[i] = "../Content/Images/Areas/Cargo/" + i + ".jpg";
        }
        break;
    case 2:
        for (int i = 0; i < 8; i++)
        {
            Photographs[i] = "../Content/Images/Areas/Military/" + i + ".jpg";
        }
        break;
    case 3:
        for (int i = 0; i < 8; i++)
        {
            Photographs[i] = "../Content/Images/Areas/Airshows/" + i + ".jpg";
        }
        break;
    default:
        break;
}
<div class="container-fluid">
    <div class="row portfolio">
        @for (int i = 0; i < 8; i++)
        {
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img class="img-responsive" src="@Photographs[i]">
                </div>
            </div>
        }

    </div>
</div>
<a href="/Forum/Index?AreaId=@Model.Id" class="btn btn-info btn-block" role="button">Join us on the forum!</a>