@using Presentation.Models
@model Area
@Html.AntiForgeryToken()

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@*@Model.Description*@
<p>
    Deze pagina is dynamisch. @*@Model.Description*@ is een database kolom en object property die de HTML zal bevatten voor deze pagina in te laden.
    Hier: per gebied enkele URLs naar foto's die leuk zijn (een vijftal? weet nog niet goed hoe ik ze wal weergeven)
    Hier: algemene informatie over het interesse gebied. Interessante weetjes? Nieuws? Uhm...

    -> hmmm... niet erg duidelijk wat dit moet worden! ik neem aan dat dit dus per area zal verschijnen onder https://gyazo.com/e805ffbb3123c39c3e3dc0b0cd654037

    Civil aviation
    Air cargo
    Military aviation
    air show

</p>

<a href="/Forum/Index?AreaId=@Model.Id" class="btn btn-info btn-block" role="button">Hier: call to action om door te gaan naar het forum van het interessegebied</a>